.messages {
  .message {
    @extend .alert;
    &.info {
      @include alert-variant(theme-color-level("info", $alert-bg-level), theme-color-level("info", $alert-border-level), theme-color-level("info", $alert-color-level));
    }
    &.error {
      @include alert-variant(theme-color-level("danger", $alert-bg-level), theme-color-level("danger", $alert-border-level), theme-color-level("danger", $alert-color-level));
    }
    &.warning {
      @include alert-variant(theme-color-level("warning", $alert-bg-level), theme-color-level("warning", $alert-border-level), theme-color-level("warning", $alert-color-level));
    }
    &.notice {
      @include alert-variant(theme-color-level("warning", $alert-bg-level), theme-color-level("warning", $alert-border-level), theme-color-level("warning", $alert-color-level));
    }
    &.success {
      @include alert-variant(theme-color-level("success", $alert-bg-level), theme-color-level("success", $alert-border-level), theme-color-level("success", $alert-color-level));
    }
  }
}
