<div class="breadcrumbs">
    <ul class="items" aria-labelledby="breadcrumb-label">
        <li class="item">
            <a title="Go to Home Page" href="#">Home</a>
        </li>
        <li class="item">
            <a title="Category" href="#">Category</a>
        </li>
        <li class="item">
            <a title="Category" href="#">Subcategory</a>
        </li>
        <li class="item">
            <strong>Products</strong>
        </li>
    </ul>
</div>