@mixin magento-actions-toolbar (
$_actions-toolbar-actions-reverse: false
) {
  @include make-row();
  > .primary,
  > .secondary {
    @include make-col-ready();
    @include make-col($grid-columns);
    @include media-breakpoint-up(sm) {
      @include make-col($grid-columns/2);
    }
    @include media-breakpoint-up(xl) {
      @include make-col($grid-columns/3);
    }
    .action {
      @extend .btn-block;
    }
    a.action:not(.primary) {
      @include magento-button-link();
    }
  }

  $_lastSelector: 'primary';
  @if $_actions-toolbar-actions-reverse {
    $_lastSelector: 'secondary';
  }
  > .#{$_lastSelector} {
    order: 1;
    @include media-breakpoint-up(xl) {
      @include make-col-offset($grid-columns/3);
    }
  }

}