<div class="actions-toolbar">
    <div class="primary">
        <button type="submit" class="action primary" title="Submit"><span>Submit</span></button>
    </div>
    <div class="secondary">
        <a class="action back" href="#"><span>Back</span></a>
    </div>
</div>
