node_modules
.sass-cache

# OS or Editor folders
.DS_Store
.idea

# no vendor files
/styles/vendor

# no generated assets
/web/css/*
!/web/css/.gitkeep
/web/fonts/*

# Ignore generated documentation
_documentation
