@mixin magento-tab-navigation($title-selector: ".item.title", $content-selector: ".item.content") {
  @extend .nav;
  @extend .nav-tabs;
  flex-wrap: wrap;
  border-bottom: 0;
  #{$title-selector} {
    font-weight: normal;
    @extend .nav-item;
    order: 1;
    position: relative;
  }
  #{$title-selector} a {
    @extend .nav-link;
  }
  #{$title-selector}.active a {
    @extend .active.nav-link;
  }

  #{$content-selector} {
    order: 2;
    width: 100%;
    display: none;
    border-top: $nav-tabs-border-width solid $nav-tabs-border-color;
    padding-top: 1rem;
    &.active {
      display: block;
    }
  }
}
