

<div class="page-layout-3columns">
    <div class="page-main">
        <div class="columns">
            <div class="column main">
                <div class="bg-primary text-white" style="height: 200px">Main Column</div>
            </div>
            <div class="sidebar sidebar-main">
                <div class="bg-warning text-white" style="height: 100px">Sidebar Main</div>
            </div>
            <div class="sidebar sidebar-additional">
                <div class="bg-danger text-white" style="height: 150px">Sidebar Additional</div>
            </div>
        </div>
    </div>
</div>
