

<div class="window popup _show" tabindex="-1" role="dialog" aria-labelledby="popup-title" aria-describedby="popup-content" aria-hidden="true">
    <div class="popup actions">
        <div class="secondary">
            <button type="button" class="action close" data-dismiss="popup"><span>Close</span></button>
        </div>
    </div>
    <div class="popup header">
        <strong class="title" id="popup-title"><span>Popup title</span></strong>
    </div>
    <div class="popup content" id="popup-content">
        <p>Popup content</p>
    </div>
    <div class="popup footer"></div>
</div>
