@mixin magento-rating-vote($color: $primary, $rate-count: 5) {
  overflow: hidden;
  &::before {
    @include fa-icon();
    color: $color;
    display: block;
    position: absolute;
    z-index: 1;
    $content-o: "";
    @for $i from 1 through $rate-count {
      $content-o: "#{$content-o}#{$fa-var-star-o}";
    }
    content: $content-o;
    letter-spacing: .1em;
  }

  input[type="radio"] {
    @extend .sr-only;
    display: inline-block;
    &:focus,
    &:checked {
      + label {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  label {
    cursor: pointer;
    display: block;
    position: absolute;
    span {
      @extend .sr-only;
    }
    &::before {
      @include fa-icon();
      color: $color;
      content: $fa-var-star;
      letter-spacing: .1em;
      position: absolute;
      opacity: 0;
    }
    &:hover {
      &::before{
        opacity: 1;
      }
      ~label::before {
        opacity: 0;
      }
    }
  }
  $content: "";
  @for $i from 1 through $rate-count {
    $content: "#{$content}#{$fa-var-star}";
    .rating-#{$i} {
      z-index: $rate-count - $i + 1;
      &::before {
        content: $content;
      }
    }
  }
}

@mixin magento-rating-summary($color: $primary, $rate-count: 5) {
  overflow: hidden;
  white-space: nowrap;
  .label {
    @extend .sr-only;
  }
  .rating-result {
    color: $color;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: $rate-count*1em + 0.1em;
    &::before {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      letter-spacing: .1em;
      @include fa-icon();
      $content-o: "";
      @for $i from 1 through $rate-count {
        $content-o: "#{$content-o}#{$fa-var-star-o}";
      }
      content: $content-o;
    }
    > span {
      display: block;
      overflow: hidden;
      line-height: 1;
      &::before {
        position: relative;
        z-index: 2;
        @include fa-icon();
        letter-spacing: .1em;
        $content: "";
        @for $i from 1 through $rate-count {
          $content: "#{$content}#{$fa-var-star}";
        }
        content: $content;
      }
      span {
        @extend .sr-only;
      }
    }
  }
}
