<div class="review-control-vote">
    <input type="radio" name="rating-price" id="rating-price-1" value="1" />
    <label class="rating-1" for="rating-price-1" title="1 star">
        <span>1 star</span>
    </label>
    <input type="radio" name="rating-price" id="rating-price-2" value="2" />
    <label class="rating-2" for="rating-price-2" title="2 stars">
        <span>2 stars</span>
    </label>
    <input type="radio" name="rating-price" id="rating-price-3" value="3" />
    <label class="rating-3" for="rating-price-3" title="3 stars">
        <span>3 stars</span>
    </label>
    <input type="radio" name="rating-price" id="rating-price-4" value="4" />
    <label class="rating-4" for="rating-price-4" title="4 stars">
        <span>4 stars</span>
    </label>
    <input type="radio" name="rating-price" id="rating-price-5" value="5" />
    <label class="rating-5" for="rating-price-5" title="5 stars">
        <span>5 stars</span>
    </label>
</div>