@mixin magento-responsive-table() {
  border: none;
  display: block;

  > thead > tr > th {
    display: none;
  }

  tbody, tfoot {
    display: block;
    td, th, tr {
      display: block;
    }
  }

  > tbody {
    > tr {
      td, th {
        border-bottom: none;
        display: block;

        &:before {
          content: attr(data-th) ': ';
          display: inline-block;
        }
      }
    }
  }
}