<div class="page-layout-1column">
    <div class="page-main">
        <div class="columns">
            <div class="column main">
                <div class="bg-primary" style="height: 200px">Main Column</div>
            </div>
        </div>
    </div>
</div>