.modal {
    pointer-events: none;
}
.modal.slide .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.slide .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
}

.modal.slide .modal-body {
    padding: 15px 15px 80px;
}

/*Left */
.modal.slide.slide-left.fade.show .modal-dialog{
    left: 0;
}

.modal.slide.slide-left.fade .modal-dialog {

    left: -320px;
    -webkit-transition: left 0.2s ease-out;
    -moz-transition: left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
}

/*Right / Default */
.modal.slide.fade.show .modal-dialog {
    right: 0;
}

.modal.slide.fade .modal-dialog {
    right: -320px;
    -webkit-transition: right 0.2s ease-out;
    -moz-transition: right 0.2s ease-out;
    -o-transition: right 0.2s ease-out;
    transition: right 0.2s ease-out;
}

.btn-icon {
    position: relative;
}
.btn-icon svg {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
