.modal {
    pointer-events: none;
}

.modal.slide .modal-dialog {
    width: 400px;
    max-width: 80%;
    height: 100%;
    margin: 0;
    transform: translate(0);
    transition: transform .2s;
}

.modal.slide .modal-content {
    height: inherit;
    border: none;
    border-radius: 0;
}

.modal.slide .modal-content .modal-body {
    overflow-y: auto
}

.modal.slide .modal-dialog {
    margin-left: auto;
    transform: translateX(100%);
}

.modal.slide.slide-right .modal-dialog {
    margin-right: auto;
    transform: translateX(-100%);
}

.modal.slide.show .modal-dialog {
    transform: translateX(0);
}

.btn-icon {
    position: relative;
}

.btn-icon svg {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
