@mixin magento-accordion($title-selector: ".item.title", $content-selector: ".item.content") {
  #{$title-selector} {
    @extend .card;
    @extend .card-header;
  }

  #{$content-selector} {
    @extend .card;
    @extend .card-block;
    display: none;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 0;
    &.active {
      display: block;
    }
  }
}