<dl class="m2bp-accordion" data-sections="tabs">
    <dt class="item title active" data-section="title">
        <a class="switch" data-toggle="switch" href="#product.info.description">Details</a>
    </dt>
    <dd class="item content active" data-section="content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </dd>
    <dt class="item title" data-section="title">
        <a class="switch" data-toggle="switch" href="#product_tags">Tags</a>
    </dt>
    <dd class="item content" data-section="content">
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </dd>

    <dt class="item title" data-section="title">
        <a class="switch" data-toggle="switch" href="#product_reviews">Reviews</a>
    </dt>
    <dd class="item content" data-section="content">
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </dd>
</dl>