<div class="field required">
    <label class="label" for="input">
        <span>Label</span>
    </label>
    <div class="control">
        <input type="text" id="input" title="Input"/>
    </div>
</div>