<div class="field required">
    <label class="label" for="input">
        <span>Label</span>
    </label>
    <div class="control">
        <textarea id="input" title="Input"></textarea>
    </div>
</div>