<fieldset>
    <legend>Valid Fields</legend>
    <div class="field required">
        <label class="label" for="valid-field">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <input type="text" id="valid-field" value="Valid Input" title="Valid Field" class="required-entry valid" />
        </div>
    </div>
    <div class="field required">
        <label class="label" for="valid-field-select">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <select id="valid-field-select" class="required-entry valid" title="Input">
                <option>Select Option 1</option>
                <option>Select Option 2</option>
                <option>Select Option 3</option>
                <option>Select Option 3</option>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label" for="valid-field-file">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <input type="file" id="valid-field-file" title="Valid Field" class="required-entry valid" />
        </div>
    </div>
    <div class="field choice">
        <input type="radio" id="valid-field-radio" title="Valid Field" class="required-entry valid" />
        <label class="label" for="valid-field-radio">
            <span>Valid Field</span>
        </label>
    </div>
    <div class="field required choice">
        <input type="checkbox" id="valid-field-checkbox" title="Valid Field" class="required-entry valid" />
        <label class="label" for="valid-field-checkbox">
            <span>Valid Field</span>
        </label>
    </div>
    <div class="field required">
        <label class="label" for="valid-field-textarea">
            <span>Valid Field</span>
        </label>
        <div class="control">
        <textarea id="valid-field-textarea" value="Valid Input" title="Valid Field" class="required-entry valid">
        </textarea>
        </div>
    </div>
    <div class="field required">
        <label class="label" for="valid-field-multiselect">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <select id="valid-field-select" class="required-entry valid" multiple="multiple" title="Input">
                <option>Select Option 1</option>
                <option>Select Option 2</option>
                <option>Select Option 3</option>
                <option>Select Option 3</option>
            </select>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Valid Fields</legend>
    <div class="field required">
        <label class="label" for="invalid-field">
            <span>Invalid Field</span>
        </label>
        <div class="control">
            <input type="text" id="invalid-field" value="Invalid Input" title="Valid Field" class="required-entry  mage-error" />
            <div for="nvalid-field" generated="true" class="mage-error" id="invalid-field-error">This is a required field.</div>
            <div class="note">This is a field note</div>
        </div>
    </div>
    <div class="field required">
        <label class="label" for="invalid-field-select">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <select id="invalid-field-select" class="required-entry  mage-error" title="Input">
                <option>Select Option 1</option>
                <option>Select Option 2</option>
                <option>Select Option 3</option>
                <option>Select Option 3</option>
            </select>
            <div generated="true" class="mage-error" id="invalid-field-error">This is a required field.</div>

        </div>
    </div>
    <div class="field">
        <label class="label" for="invalid-field-file">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <input type="file" id="invalid-field-file" title="Valid Field" class="required-entry  mage-error" />
            <div generated="true" class="mage-error" id="invalid-field-error">This is a required field.</div>
        </div>
    </div>
    <div class="field choice">
        <input type="radio" id="invalid-field-radio" title="Valid Field" class="required-entry  mage-error" />
        <label class="label" for="invalid-field-radio">
            <span>Valid Field</span>
        </label>
        <div generated="true" class="mage-error">This is a required field.</div>
    </div>
    <div class="field required choice">
        <input type="checkbox" id="invalid-field-checkbox" title="Valid Field" class="required-entry  mage-error" />
        <label class="label" for="invalid-field-checkbox">
            <span>Valid Field</span>
        </label>
        <div generated="true" class="mage-error">This is a required field.</div>
    </div>
    <div class="field required">
        <label class="label" for="invalid-field-textarea">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <textarea id="invalid-field-textarea" title="Valid Field" class="required-entry  mage-error">
            </textarea>
            <div generated="true" class="mage-error">This is a required field.</div>

        </div>
    </div>
    <div class="field required">
        <label class="label" for="invalid-field-multiselect">
            <span>Valid Field</span>
        </label>
        <div class="control">
            <select id="invalid-field-select" class="required-entry  mage-error" multiple="multiple" title="Input">
                <option>Select Option 1</option>
                <option>Select Option 2</option>
                <option>Select Option 3</option>
                <option>Select Option 3</option>
            </select>
            <div generated="true" class="mage-error">This is a required field.</div>

        </div>
    </div>
</fieldset>


