

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="actions-toolbar">
    <div class="primary">
        <button type="submit" class="action primary" title="Submit"><span>Redeem Gift Card</span></button>
    </div>
    <div class="secondary">
        <button class="action secondary" type="button" value="Check status and balance">
            <span>Check status and balance</span>
        </button>
    </div>
</div>

</body>
</html>

