

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="field">
    <label class="label" for="input">
        <span>Field Group</span>
    </label>
    <div class="control">
        <div class="fields group group-2">
            <div class="field required">
                <div class="control">
                    <input type="text" id="input-1" title="Input"/>
                </div>
            </div>
            <div class="field required">
                <div class="control">
                    <input type="text" id="input-2" title="Input"/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

