

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="field required">
    <label class="label" for="input">
        <span>Label</span>
    </label>
    <div class="control">
        <select id="input" class="input-text required-entry" title="Input">
            <option>Select Option 1</option>
            <option>Select Option 2</option>
            <option>Select Option 3</option>
            <option>Select Option 3</option>
        </select>
    </div>
</div>

</body>
</html>

