

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="field choice">
    <input type="radio" id="input" value="1" name="radio" />
    <label class="label" for="input">
        <span>Label</span>
    </label>
</div>
<div class="field choice">
    <input type="radio" id="input2" value="2" name="radio" />
    <label class="label" for="input2">
        <span>Label</span>
    </label>
</div>


</body>
</html>

