

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="pages">
    <strong class="pages-label" id="paging-label">Page</strong>
    <ul class="items" aria-labelledby="paging-label">
        <li class="item">
            <a href="#" class="action previous">
                <span class="label">Page</span>
                <span>Previous</span>
            </a>
        </li>
        <li class="item">
            <a href="#" class="page">
                <span class="label">Page</span>
                <span>1</span>
            </a>
        </li>
        <li class="item current">
            <strong class="page">
                <span class="label">You're currently reading page</span>
                <span>2</span>
            </strong>
        </li>
        <li class="item">
            <a href="#" class="page">
                <span class="label">Page</span>
                <span>3</span>
            </a>
        </li>
        <li class="item">
            <a href="#" class="action next">
                <span class="label">Page</span>
                <span>Next</span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>

