

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/styles.css" />
    <title>Preview Layout</title>
</head>
<body>

<div class="table-wrapper">
    <table class="table">
        <caption>Table caption</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
            <th scope="col">Site</th>
            <th scope="col">Age</th>
            <th scope="col">Job</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="6">Table summary</th>
            <td data-th="Table summary">Table footer text</td>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <th data-th="Name" scope="row">Mark</th>
            <td data-th="Username">@mdo</td>
            <td data-th="Phone">+1 123 456 432</td>
            <td data-th="Site"><a href="https://www.google.com">www.google.com</a></td>
            <td data-th="Age">23</td>
            <td data-th="Job">qa</td>
            <td data-th="Status">offline</td>
        </tr>
        <tr>
            <th data-th="Name" scope="row">Alex</th>
            <td data-th="Username">@alex</td>
            <td data-th="Phone">+1 333 222 111</td>
            <td data-th="Site"><a href="http://magento.com/">magento.com</a></td>
            <td data-th="Age">32</td>
            <td data-th="Job">manager</td>
            <td data-th="Status">online</td>
        </tr>
        <tr>
            <th data-th="Name" scope="row">Daniel</th>
            <td data-th="Username">@danik</td>
            <td data-th="Phone">+1 334 328 975</td>
            <td data-th="Site"><a href="https://www.yahoo.com">www.yahoo.com</a></td>
            <td data-th="Age">18</td>
            <td data-th="Job">developer</td>
            <td data-th="Status">offline</td>
        </tr>
        <tr>
            <th data-th="Name" scope="row">Kate</th>
            <td data-th="Username">@kateUA</td>
            <td data-th="Phone">+1 888 777 888</td>
            <td data-th="Site"><a href="https://www.twitter.com">www.twitter.com</a></td>
            <td data-th="Age">18</td>
            <td data-th="Job">HR</td>
            <td data-th="Status">online</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>

